.MMM-IdF-Transport {
	--pictoSize: 45%;
}

.MMM-IdF-Transport .table {
    border-spacing: 0px 0px;
    border-collapse: separate;
    text-align: left;
	}

.MMM-IdF-Transport .spacerRow {
	padding-bottom: 5px;
	}

.MMM-IdF-Transport .destination {
	font-weight: normal;
	color: white;
	}
	
.MMM-IdF-Transport .line {
    border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: center;
	color:white;
	font-weight: normal;
	width: 60px;
	height: 32px;
	}
	
.MMM-IdF-Transport .departure {
	padding-left: 10px;
	text-align: right;
	font-weight: normal;
	color: white;
	}
	
.MMM-IdF-Transport .noTramRow {
	font-weight: normal;
	color: white;
	font-weight: normal;
	}
	
.MMM-IdF-Transport .bus {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	font-weight: bold;
	font-size: large;
	color: #282525;
}

.MMM-IdF-Transport .pictoIcon {
	max-width: var(--pictoSize);
	object-fit: contain;
	display: block;
	margin: auto;
}

.MMM-IdF-Transport .lineIcon {
	max-width: var(--pictoSize);
	object-fit: contain;
	display: block;
	margin: auto;
	float: left;
}
